.heading {
    width: 100%;
    text-align: left;
}

.heading h3 {
    display: inline;
}

.heading button {
    float: right;
    border: 1px solid white;
}

.big_image {
    width: 100%;
}

#start,
#status {
    font-size: 22px;
}

h4 {
    background-color: white;
    height: 2;
    margin: 0px;
    text-align: center;
    display: inline-block;    
    width: 100%;
}

.modal-dialog {
    width: 60%;
}

.modal-body{
    text-align: left;
}

video {
    background: url('Ping-Pong-Ball-8.gif') ;
    background-size: cover ;
    background-position: center;
    padding: 25px ;
}